<html>
<head><title></title></head>
<body>
<h1>Dear Parent/Guardain,</h1>

<P>
Please find attached the exam schedule of ${studentFullName} for the exam ${examName} of class ${studentClassAndSection}. 
</p>

</br></br>
Regards,
${classTeacherName}
${schoolName}
${schoolBranch}
${schoolContactNumbers}
${schoolAddress}
</body>
</html>
