<html>
<head><title></title></head>
<body>
<h1>Dear Parent/Guardain,</h1>

<P>
Please find attached the progress report of ${studentFullName} of class ${studentFullName) for the exam <b>${examName}</b>.
</p>

</br></br>
Regards,
${classTeacherName}
${schoolName}
${schoolBranch}
${schoolContactNumbers}
${schoolAddress}
</body>
</html>
