<html>
<head><title></title></head>
<body>
<h1>Dear Parent/Guardain,</h1>

<p>
	Please find attached the attendance report of ${studentFullName} of class ${studentFullName) for the period <b>${fromDate} to ${toDate}</b>.
</p>

</br></br>
Regards,
${classTeacherName}
${schoolName}
${schoolBranch}
${schoolContactNumbers}
${schoolAddress}
</body>
</html>