<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
	<import resource="schoolBusinessContext.xml"/>
 	<import resource="schoolDatabaseContext.xml"/>
 
 	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreUnresolvablePlaceholders" value="true"/>
		<property name="searchSystemEnvironment"  value="true"/>
		<property name="locations">
            <list>
                <value>WEB-INF/jdbc.properties</value>
            </list>
        </property>
    </bean>
    
 	<!-- Login Action-->
	<bean name="loginClass" class="com.myschool.action.LoginAction" >
		<property name="loginService" ref="loginService"></property>
	</bean>

 	<!-- Login Action-->
	<bean name="masterMenuAction" class="com.myschool.action.MasterMenuAction"></bean>
			
 	<!-- School class Action-->
	<bean name="classSectionAction" class="com.myschool.action.ClassSectionAction" >
		<property name="classSectionService" ref="classSectionService"></property>
	</bean>

</beans>