<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<import resource="schoolBusinessContext.xml"/>	
	<import resource="schoolDatabaseContext.xml"/>	

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="searchSystemEnvironment" value="true" />
		<property name="locations">
			<list>
				<value>WEB-INF/jdbc.properties</value>
				<value>WEB-INF/schoolConfigurations.properties</value>
				<!-- <value>WEB-INF/Templates/*.vm</value> -->
			</list>
		</property>
	</bean>

	<bean name="loginAction" class="com.myschool.action.LoginAction">
		<property name="loginService" ref="loginService"></property>
		<property name="schoolConfigurationMap" ref="schoolConfigurationMap"></property>
	</bean>
	
	<bean name="userRoleAction" class="com.myschool.action.UserRoleAction">
		<property name="schoolCode" value="${school.code}" />
		<property name="userRoleService" ref="userRoleService" />
	</bean>
	
	<bean name="userAction" class="com.myschool.action.UserAction">
	</bean>
	
	<bean name="configurationMenuAction" class="com.myschool.action.ConfigurationMenuAction"></bean>
	
	<bean name="schoolConfigurationMap" class="java.util.HashMap">
		<constructor-arg index="0" type="java.util.Map">
		<map key-type="java.lang.String" value-type="java.lang.String">
			<entry key="SESSION_TIMEOUT" value="${school.session.timeout}" />
			<entry key="MAX_INVALID_LOGIN_ATTEMPTS" value="${school.login.maxInvalidAttempts}" />
		</map>
		</constructor-arg>
	</bean>

	<bean name="forgotPasswordAction" class="com.myschool.action.ForgotPasswordAction">
		<property name="loginService" ref="loginService"></property>
	</bean>

	<bean name="schoolSubjectsAction" class="com.myschool.action.SchoolSubjectsAction">
		<property name="schoolSubjectsService" ref="schoolSubjectsService"></property>
	</bean>
	
	<bean name="forwardAction" class="com.myschool.action.ForwardAction">
		<property name="schoolCode" value="${school.code}" />
		<property name="userRoleService" ref="userRoleService" />
	</bean>
	
	<bean name="schoolClassAction" class="com.myschool.action.SchoolClassAction">
		<property name="schoolClassService" ref="schoolClassService"></property>
		<property name="schoolSubjectsService" ref="schoolSubjectsService"></property>
		<property name="classStatusBean" ref="classStatusBean"></property>
	</bean>
	
	<bean name="classSectionAction" class="com.myschool.action.ClassSectionAction">
		<property name="schoolClassService" ref="schoolClassService"></property>
		<property name="classSectionService" ref="classSectionService"></property>
		<property name="staffStatusBean" ref="staffStatusBean"></property>
	</bean>
	
	<bean name="studentRegistrationAction" class="com.myschool.action.StudentRegistrationAction">
	</bean>
	
	<bean name="staffAction" class="com.myschool.action.StaffAction">
		<property name="tilesBeanStaff" ref="tilesBeanStaff"/>
		<property name="genderBean" ref="genderBean"/>
		<property name="staffStatusBean" ref="staffStatusBean"/>
		<property name="staffAppointmentTypeService" ref="staffAppointmentTypeService"/>
		<property name="commonYesOrNo" ref="commonYesOrNo"/>
		<property name="schoolSubjectsService" ref="schoolSubjectsService"></property>
		<property name="staffService" ref="staffService"></property>
		
	</bean>
	
	<bean name="staffLeavesStructureAction" class="com.myschool.action.StaffLeavesStructureAction">
	</bean>
	
	<bean name="staffAppointmentTypeAction" class="com.myschool.action.StaffAppointmentTypeAction">
		<property name="staffAppointmentTypeService" ref="staffAppointmentTypeService"></property>
	</bean>
	
	<bean name="schoolTimingAction" class="com.myschool.action.SchoolTimingAction">
	</bean>
	
	<bean name="schoolGeneralHolidaysAction" class="com.myschool.action.SchoolGeneralHolidaysAction">
	</bean>
	
	<bean name="schoolGeneralEventsAction" class="com.myschool.action.SchoolGeneralEventsAction">
	</bean>
	
	<bean name="classHolidaysAction" class="com.myschool.action.ClassHolidaysAction">
	</bean>
	
	<bean name="classEventsAction" class="com.myschool.action.ClassEventsAction">
	</bean>
	
	<bean name="driverAction" class="com.myschool.action.DriverAction">
	</bean>
	
	<bean name="vehicleAction" class="com.myschool.action.VehicleAction">
	</bean>
	
	<bean name="transportRoutAction" class="com.myschool.action.TransportRoutAction">
	</bean>
	
	<bean name="tuitionFeeStructureAction" class="com.myschool.action.TuitionFeeStructureAction">
	</bean>
	
	<bean name="otherFeeStructureAction" class="com.myschool.action.OtherFeeStructureAction">
	</bean>
	
	<bean name="libraryBooksAction" class="com.myschool.action.LibraryBooksAction">
	</bean>
	
	<bean name="studentLeavesAction" class="com.myschool.action.StudentLeavesAction">
	</bean>
	
	<bean name="staffLeavesAction" class="com.myschool.action.StaffLeavesAction">
	</bean>
	
	<bean name="transportationRouteAllocationAction" class="com.myschool.action.TransportationRouteAllocationAction">
	</bean>
	
	<bean name="tutionfeeCollectionAction" class="com.myschool.action.TuitionfeeCollectionAction">
	</bean>
	
	<bean name="otherfeeCollectionAction" class="com.myschool.action.OtherfeeCollectionAction">
	</bean>
	
	<bean name="tilesBeanStaff" class="com.myschool.util.UtillArrayList">
		<constructor-arg>
			<value >${staff.titles}</value>
		</constructor-arg>
	</bean>
	
	<bean name="genderBean" class="com.myschool.util.UtillArrayList">
		<constructor-arg>
			<value >${genders}</value>
		</constructor-arg>
	</bean>
	
	<bean name="staffStatusBean" class="com.myschool.util.UtillArrayList">
		<constructor-arg>
			<value >${staff.status}</value>
		</constructor-arg>
	</bean>
	
	<bean name="classStatusBean" class="com.myschool.util.UtillArrayList">
		<constructor-arg>
			<value >${class.status}</value>
		</constructor-arg>
	</bean>
	
	<bean name="commonYesOrNo" class="com.myschool.util.UtillArrayList">
		<constructor-arg>
			<value >${common.yesorno}</value>
		</constructor-arg>
	</bean>
</beans>